process.container = 'quay.io/nextflow/bash'

some_variable = 'the value of a non-param variable'

params {
  just_parameter = 'A string parameter'
  parameter_with_embedded_another_parameter = "${params.just_parameter} and something else"
  parameter_referencing_another_parameter = params.just_parameter
  parameter_with_embedded_non_parameter = "${some_variable} and more"
}
